@page "/sobre"
<PageTitle>Sobre</PageTitle>
<div class="container" style="width: 600px;">
    <p>
    <h1 class="text-center">Sobre Nós</h1>
    </p>
    <hr class="star-dark mb-5">
    <h4> Nossos valores </h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repellat voluptatem doloremque quibusdam
        veritatis quis dicta hic eaque, omnis aliquam ipsa, cumque accusamus. Cumque assumenda eos corporis, alias ullam
        quibusdam. </p>
      <h4> Nossa historia até aqui </h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repellat voluptatem doloremque quibusdam
        veritatis quis dicta hic eaque, omnis aliquam ipsa, cumque accusamus. Cumque assumenda eos corporis, alias
        ullam quibusdam. </p>
      <h4> O que fazemos </h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repellat voluptatem doloremque quibusdam
        veritatis quis dicta hic eaque, omnis aliquam ipsa, cumque accusamus. Cumque assumenda eos corporis, alias
        ullam quibusdam. </p>
  </div>