@page "/contato"

<PageTitle>Contato</PageTitle>
<div class="container">
    <p>
    <h2 class="text-center">CENTRAL
      DE ATENDIMENTO</h2>
    </p>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="">Nome</label>
            <input type="text" class="form-control" name="" id="" placeholder="">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" name="" id="" placeholder="">
          </div>
          <div class="form-group">
            <label for="">Mensagem</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
          </div>
          <button type="" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="col-md-5">
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Fone</th>
              <th>Celular</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Atendimento ao Cliente</td>
              <td>1732274444</td>
              <td>17991888003</td>
            </tr>
            <tr>
              <td scope="row">Departamento de Vendas</td>
              <td>1732274444</td>
              <td>17991888003</td>
            </tr>
            <tr>
              <td scope="row">Financeiro</td>
              <td>1732274444</td>
              <td>17991888003</td>
            </tr>
            <tr>
              <td scope="row">Suporte Tecnico</td>
              <td>1732274444</td>
              <td>17991888003</td>
            </tr>
            <tr>
              <td scope="row">Administrativo</td>
              <td>1732274444</td>
              <td>17991888003</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>